<nav class="l-footer-nav">
  <ul class="l-footer-nav__list">
    <li class="l-footer-nav__item"><a class="l-footer-nav__link" href=".">HOME</a></li>
    <li class="l-footer-nav__item"><a class="l-footer-nav__link" href="news.html">news</a></li>
    <li class="l-footer-nav__item"><a class="l-footer-nav__link" href="service.html">service</a></li>
    <li class="l-footer-nav__item"><a class="l-footer-nav__link" href="works.html">works</a></li>
    <li class="l-footer-nav__item"><a class="l-footer-nav__link" href="company.html">company</a></li>
    <li class="l-footer-nav__item"><a class="l-footer-nav__link" href="recruit.html">recruit</a></li>
    <li class="l-footer-nav__item"><a class="l-footer-nav__link" href="contact.html">contact</a></li>
  </ul>
</nav>
<div class="c-copyright">
  <a href="." class="c-copyright__link">&copy;PON DESIGN</a>
  <br>参考：<a class="c-copyright__link" href="https://webdesigner-go.com/coding-practice/">『無料コーディング練習所』</a>
</div>