<div class="p-news__inner l-inner">
  <div class="p-news__heading">
    <h2 class="c-heading-primary">news<span class="c-heading-primary__sub">お知らせ</span>
    </h2>
  </div>
  <div class="p-news__body">
    <div class="p-news-list">
      <ul class="p-news-list__list">
        <li class="p-news-list__item">
          <div class="p-news-list__heading">
            <time datetime="2020-02-01" class="p-news-list__date">2030.02.01</time>
            <div class="p-news-list__label">
              <span class="c-label-category">お知らせ</span>
            </div>
          </div>
          <div class="p-news-list__body">
            <a href="news-article.html" class="p-news-list__link">Webデザインニュースサイト「ウェブマガジン」に取材いただきました</a>
          </div>
        </li>
        <li class="p-news-list__item">
          <div class="p-news-list__heading">
            <time datetime="2020-02-01" class="p-news-list__date">2030.01.25</time>
            <div class="p-news-list__label">
              <span class="c-label-category">制作実績</span>
            </div>
          </div>
          <div class="p-news-list__body">
            <a href="#" class="p-news-list__link">Smoothiesta様のWebサイトを制作いたしました</a>
          </div>
        </li>
        <li class="p-news-list__item">
          <div class="p-news-list__heading">
            <time datetime="2020-02-01" class="p-news-list__date">2030.01.20</time>
            <div class="p-news-list__label">
              <span class="c-label-category">採用</span>
            </div>
          </div>
          <div class="p-news-list__body">
            <a href="#" class="p-news-list__link">Webデザイナーを１名募集中です！</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>