<div class="p-recruit__inner l-inner">
  <div class="p-recruit__desc">
    <div class="p-recruit__desc-inner">
      <div class="p-recruit__heading">
        <h2 class="c-heading-primary">recruit<span class="c-heading-primary__sub">採用情報</span>
        </h2>
      </div>
      <div class="p-recruit__body">
        <div class="p-recruit__text">
          <p>私たちと一緒に働きませんか？</p>
        </div>
      </div>
      <div class="p-recruit__btn">
        <a href="recruit.html" class="c-btn">more</a>
      </div>
    </div>
  </div>
  <div class="p-recruit__img-wrapper">
    <!-- <img class="p-recruit__img" src="img/recruit.jpg" alt=""> -->
  </div>
</div>