<div class="p-works__inner l-inner">
  <div class="p-works__img-wrapper">
    <div class="swiper-container js-swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="img/works/smoothiesta.jpg" alt=""></div>
        <div class="swiper-slide"><img src="img/works/web-conference.jpg" alt=""></div>
        <div class="swiper-slide"><img src="img/works/lamina.jpg" alt=""></div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <div class="p-works__desc">
    <div class="p-works__heading">
      <h2 class="c-heading-primary">works<span class="c-heading-primary__sub">制作実績</span>
      </h2>
    </div>
    <div class="p-works__body">
      <div class="p-works__text">
        <p>様々なジャンルのWebサイト制作が可能です。<br>
          ご購入やお申込み数の増加などを実現します！</p>
      </div>
    </div>
    <div class="p-works__link">
      <a href="works.html" class="c-btn">more</a>
    </div>
  </div>
</div>